/* 
--------01 TYPOGRAPHY SYSTEM 

- FONT SIZE SYSTEM {px}
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 /98

---- 07 WHITESPACE
- SPACING SYSTEM {px}
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 
*/


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* overflow-x: hidden; */
}

html{
    font-size: 62.5%;
    font-family: sans-serif;
    /* scroll-behavior: smooth; */
    /* position: relative; */
    overflow-x: hidden;
}

body{
    overflow-x: hidden;

}

/* header{
    background-color: #FFF6E6;
    height: 6rem;
} */

.cursive{
    font-family: cursive;
    color: #FFE500;
}



.container{
    max-width: 130rem;
    margin: 0 auto;
    padding: 0 3.2rem;
}

.grid{
    display: grid;
    column-gap: 1.8rem;
    row-gap: 2rem;
}

.grid--sp--cols{
    grid-template-columns: auto 1fr;
    column-gap: 4.8rem;
}

.grid--2--cols{
    grid-template-columns: repeat(2, 1fr);
}

.grid--3--cols{
    grid-template-columns: repeat(3, 1fr);
}

.grid--4--cols{
    grid-template-columns: repeat(4, 1fr);
    gap: 0.4rem;
}

.heading-primary{
    font-size: 6.2rem;
    color: #333;
    line-height: 0.9;
    margin-bottom: 2rem;
}

.heading-secondary{
    color: #333;
    font-size: 4.4rem;
    margin-bottom: 1.8rem;
}

.heading-tertiary{
    color: #333;
    margin: 0.4rem 0;
    font-size: 2.4rem;
    font-weight: 600;
}

.paragraph{
    color: #555;
    font-size: 1.6rem;
    line-height: 1.2;
    /* margin-top:; */
}

.center-text{
    text-align: center;
}









